.chat {
    flex: 1;
    height: 100vh;
    overflow: auto;
    padding: 20px 20px 82px 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    .bottomBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
    }
}