.homeWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.mainLayout {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: row;
    overflow: hidden;
}

.chatArea {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}