.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin-left: 1em;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}