.message {
    .chat {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        background-color: #f9f9f9;
    }

    .bottomBar {
        margin-top: auto;
        padding: 10px;
        background-color: white;
        border-top: 1px solid #ddd;
    }
}

.message {
    display: flex;
    width: fit-content;
    max-width: 85%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.system {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
}

.user {
    background-color: #d1e7ff;
    color: #0056b3;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.text {
    word-wrap: break-word;
}